[submodule "XMLIoT"]
	path = XMLIoT
	url = git@github.com:manzamb/XMLIoT.git
[submodule "Python-IoT-Programs"]
	path = Python-IoT-Programs
	url = git@github.com:manzamb/Python-IoT-Programs.git
[submodule "SimuladorSensoresCalidadAire"]
	path = SimuladorSensoresCalidadAire
	url = git@github.com:manzamb/SimuladorSensoresCalidadAire.git
[submodule "curso-IoT-semantics"]
	path = curso-IoT-semantics
	url = git@github.com:manzamb/curso-IoT-semantics.git
[submodule "MQTT-ARDUINO"]
	path = MQTT-ARDUINO
	url = git@github.com:manzamb/MQTT-ARDUINO.git
[submodule "MQTT-ESP8266"]
	path = MQTT-ESP8266
	url = git@github.com:manzamb/MQTT-ESP8266.git
